/* 公共底部 */
#tabBar ul{
    width: 100%;
    height: 1.875rem;
    background-color: rgba(246,246,246,.95);
    
    position: absolute;
    left:0;
    bottom:0;
    z-index: 5;
}

#tabBar ul li{
    width: 25%;
    padding-top: 1.125rem;
    background-repeat: no-repeat;
    background-position: center 0.225rem;
    background-size: auto 0.75rem;
    color: #777;
    text-align: center;
    line-height: 0.5625rem;
    float: left;
}

#tabBar a:nth-of-type(1) li{
    background-image: url(../img/home.png);
}

#tabBar a:nth-of-type(2) li{
    background-image: url(../img/market.png);
}

#tabBar a:nth-of-type(3) li{
    background-image: url(../img/shoppingcar.png);
}

#tabBar a:nth-of-type(4) li{
    background-image: url(../img/my.png);
}