/* 滚动的可视区域 */
/* 该元素以 body 为基准，将滚动的可视区域填充除 header 之外的 body 部分 */
#home #scroller{
    width: 100%;
    /*height: 14.15625rem;*/
    position: absolute;
    top: 1.71875rem;
    /* bottom: 0;可以代替设置 height */
    bottom: 0;
    background-color: #efefef;
    overflow-x: hidden;
    overflow-y: auto;
}

#home #home_content{
    width: 100%;
    margin-bottom: 1.875rem;
}
/*==========================================================*/
/* 轮播图 */
#home .swiper-container{
    width: 100%;
    height: 3.746593rem;
}

#home .swiper-container img{
    width: 100%;
    height: 3.746593rem;
}

/* 分页器 */
#home .swiper-pagination{
    display: flex;
    justify-content: flex-end;
}

/* 分页器指示器（小点）的默认 HTML 标签是 span */
#home .swiper-pagination span{
    width: 0.224625rem;
    height: 0.224625rem;
    margin: 0.075rem;
    background-color: #ffd600;
    box-shadow: 0 1px 0 grey inset;
}

#home .swiper-pagination span:last-of-type{
    margin-right: 0.3125rem;
}
/*==========================================================*/
/* 主题列表 */
#home #themeUl{
    /*width: 94%;*/
    /*height: 1.5625rem;*/
    padding: 3%;
    border-bottom: 0.03125rem solid #e0e0e0;
    margin: 0.375rem 0;
    background-color: #fff;
    clear: both;
    /*display: table;*/
}

#home #themeUl:after{
    content: "";
    display: table;
    clear: both;
}

#home .themeItemLi{
    width: 25%;
    float: left;
}

#home .themeItemImg{
    padding-bottom: 68.12%;
    background-size: 100% 100%;
}

#home .themeItemName{
    height: 0.5625rem;
    color: #353d44;
    text-align: center;
    /*font-size: 0.45rem;*/
    line-height: 0.5625rem;
    display: block;
}
/*==========================================================*/
/* 种类列表 */
#home #categoryUl{
    width: 100%;
}

#home .categoryItemLi{
    margin-bottom: 0.375rem;
    background-color: #fff;
    display: block;
}

/* 种类头部 */
#home .categoryItemHeader{
    height: 1.5rem;
}

#home .headerTitle{
    padding: 0.075rem 0 0 0.225rem;
    border-left: 0.28125rem solid;
    margin: 0.4875rem 0 0 3%;
    font-size: 0.4375rem;
    font-weight: 700;
    float: left;
    
    color: #E80013;
    border-color: #E80013;
}

#home .categoryItemLi:nth-of-type(1) .headerTitle{
    color: #60659F;
    border-color: #60659F;
}

#home .categoryItemLi:nth-of-type(3) .headerTitle{
    color: #9E00A6;
    border-color: #9E00A6;
}

#home .headerMore{
    padding-right: 0.5625rem;
    line-height: 1.5rem;
    color: #999;
    background: url(../../img/more.png) no-repeat 114% center;
    background-size: auto 0.375rem;
    float: right;
}

#home .moreSpace{
    padding: 0 0.1875rem;
}

/* 种类图片 */
#home .categoryItemBanner{
    padding-bottom: 23.84%;
    margin-bottom: 0.1875rem;
    background: no-repeat center top;
    background-size: 94%;
}

/* 种类推荐列表 */
#home .categoryItemGoodUl{
    padding-bottom: 0.1125rem;
}

#home .categoryItemGoodUl:after{
    content: "";
    display: table;
    clear: both;
}

#home .productItemLi{
    width: 33.33%;
    padding: 0.1875rem 0;
    background-color: #fff;
    float: left;
}

#home .product{
    padding: 0 0.1875rem;
    border-right: 0.03125rem solid #e0e0e0;
    line-height: 0.75rem;
    position: relative;
}

#home .productImg{
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#home .productName{
    color: #232b33;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* 促销 */
#home .productPromotion{
    /*line-height: 0.75rem;*/
}
/* 产品特性 */
#home .productSpecifics{
    color: #999;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#home .productPrice{}
/* 当前价格 */
#home .currentPrice{
    color: #ff3800;
}

/* 产品操作 */
#home .productOperates{
    width: 3.75rem;
    height: 1.875rem;
    line-height: 1.875rem;
    color: #f40;
    position: absolute;
    bottom: -0.375rem;
    right: 0;
}

#home .productAdd{
    width: 1.875rem;
    height: 1.875rem;
    position: absolute;
    top: 0;
    right: 0;
}

#home .inner{
    width: 0.974625rem;
    height: 0.974625rem;
    border: 0.03125rem solid #ffbe89;
    border-radius: 50%;
    background: #ff4300 url(../../img/jiaOrjian.png) no-repeat right center;
    background-origin: border-box;
    background-size: 200% 100%;
    position: absolute;
    top: 0.418906rem;
    left: 0.418906rem;
}
/*==========================================================*/
/* 先锋热卖 */
#home .title{
    width:100%;
    font-size: 0.38rem;
    line-height: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#home .best,#home .maizeng{
    display: inline-block;
    padding:0 0.1rem;
    border-radius:0.1rem;
    
}
#home .best{
    border:1px solid red;
    color:red;
}
#home .maizeng{
    background:red;
    color:white;
    margin-left: 0.1rem;
}
#home .weight{
    color:#777;
    line-height: 0.6rem;
    font-size: 0.38rem;
}
#home .now_price{
    font-size: 0.35rem;
    color:red;
}
#home .original_price{
    font-size: 0.35rem;
    color:#777;
    text-decoration: line-through;
}
#home .add{
    display: block;
    position: absolute;
    right:0.1rem;
    bottom:0;
    width:0.75rem;
    height:0.75rem;
    background:#ff4300 url(../../img/jiaOrjian.png) right center;
    background-size: 200% auto;
    font-size: 0;
    border-radius:50%;
    border:0.02rem solid #DDD;
}

#home #hot{
    margin:0.6rem 0 0;
    background:#EFEFEF;
    text-decoration: none;
}

#home #hot a{
    text-decoration: none;
    color: #000;
}

#home #hot_title{
    height:1px;
    width:100%;
    background:#E4E4E4;
    position: relative;
    margin-bottom: 0.3rem;
}

#home #hot_title span{
    position: absolute;
    top:50%;
    left:50%;
    padding:0 0.2rem;
    background:#EFEFEF;
    font-size: 0.4rem;
    transform: translate(-50%,-50%);
}



#home #hot_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#home #hot_content .hot_content_item{
    width:48%;
    background:white;
    position: relative;
    margin-bottom: 0.45rem;
}
#home #hot_content .hot_content_item img{
    width:100%;
}

#home #hot_content .hot_content_item .add{
    right:0.2rem;
    bottom:0.2rem;
}

#home #hot #hot_last{
    display: block;
    height:1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 0.45rem;
    color:#777;
}